@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

@font-face {
    font-family: 'DancingMinotaur'; /* Defina um nome para sua fonte personalizada */
    src: url('../font/DancingMinotaur.ttf') format('ttf'); /* Caminho da fonte dentro da pasta 'fonts' */
    /* Outros formatos de fonte (eot, ttf, svg) podem ser adicionados aqui para melhor suporte a navegadores mais antigos */
  }
  

body{
    background-color: #00171F;
    color: white;
    font-family: 'Poppins', sans-serif, Verdana, Tahoma, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

div .logo{ 
    font-family: 'DancingMinotaur','fantasy';

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    flex-direction: column;
    line-height: 10px;
}

#logo img{
    width: 100px;
    padding-left: 150px;
    /* margin-left: 50px; */
}

.article1{
    margin-left: 150px;
    margin-bottom: 250px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: #0DCDFF;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid #003459;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: #00ccff;
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: 'Poppins', sans-serif, Verdana, Tahoma, sans-serif;
}

span{
    color: #00ccff;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Poppins', sans-serif, Verdana, Tahoma, sans-serif;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #003459;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
    background-color: #00ccff;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}